---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---
<DefaultLayout title="Keys" description="desc">
    <div id="webCryptoAPI-FailAlert" class="alert alert-danger" role="alert" style="display: none;">
        WebCrypto API not available - Make sure to use HTTPS and a modern browser.
    </div>

    <fieldset id="fieldset">
        <h2>Stored keys</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">UserID</th>
                        <th scope="col">Valid until</th>
                        <th scope="col">Private key</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Share</th>
                    </tr>
                </thead>
                <tbody id="keys-table">
                    <tr>
                        <th scope="row"></th>
                        <td>Loading keys...</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-4 w-100 text-center">
            <button id="import-public-key-button" type="submit" class="btn btn-primary">Import public key</button>
        </div>

        <div id="key-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>UserID: <span id="userid-modal"></span></p>
                    <p>Fingerprint: <span id="fingerprint-modal"></span></p>
                    <h2 id="first-subtitle-modal"></h2>
                    <div class="d-flex">
                        <textarea id="first-textarea" class="w-50 form-control" style="height: 10rem;"></textarea>
                        <textarea id="second-textarea" class="w-50 form-control" style="height: 10rem;" disabled></textarea>
                    </div>
                    <div class="text-center mt-3">
                        <button id="first-button" class="btn btn-primary"></button>
                    </div>
                    <fieldset>
                        <h2 id="second-subtitle-modal"></h2>
                        <div id="fail-alert-modal" class="alert alert-danger" role="alert" style="display: none;"></div>
                        <div class="d-flex">
                            <textarea id="third-textarea" class="w-50 form-control" style="height: 10rem;"></textarea>
                            <textarea id="fourth-textarea" class="w-50 form-control" style="height: 10rem;" disabled></textarea>
                        </div>
                        <input type="password" id="text-input" class="form-control mt-2" placeholder="Private key passphrase...">
                        <div class="text-center mt-3">
                            <button id="second-button" class="btn btn-primary"></button>
                        </div>
                    </fieldset>
                </div>
                </div>
            </div>
        </div>
    </fieldset>

    <script>
        import { getAllKeys, saveKeys, armorToHex } from "@/utils/helpers.js";
        import { createMessage, readMessage, encrypt, decrypt, readKey, readPrivateKey, decryptKey, createCleartextMessage, sign, readCleartextMessage, verify } from "openpgp";
        import { get } from "idb-keyval";
        import Modal from "bootstrap/js/dist/modal";

        if (typeof window !== "undefined" && window.crypto && window.crypto.subtle) {
            displayKeys();
        }

        document.getElementById("import-public-key-button")?.addEventListener("click", () => {
            // Create a temporary input element
            const fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.accept = '.asc';

            fileInput.addEventListener('change', (e) => {
                const file = e.target?.files[0];
                if (!file) return;

                const reader = new FileReader();

                reader.onload = async (e) => {
                    await saveKeys(e.target?.result);

                    displayKeys();
                }

                reader.onerror = (err) => console.error('Error reading file:', err);

                reader.readAsText(file);
            });

            fileInput.click();
        });

        const keyModal = document.getElementById("key-modal");
        const userIDModal = keyModal.querySelector("#userid-modal");
        const fingerprintModal = keyModal.querySelector("#fingerprint-modal");
        const titleModal = keyModal.querySelector(".modal-title");
        const firstSubtitleModal = keyModal.querySelector("#first-subtitle-modal");
        const secondSubtitleModal = keyModal.querySelector("#second-subtitle-modal");
        const firstTextarea = keyModal.querySelector("#first-textarea");
        const secondTextarea = keyModal.querySelector("#second-textarea");
        const thirdTextarea = keyModal.querySelector("#third-textarea");
        const fourthTextarea = keyModal.querySelector("#fourth-textarea");
        const firstButton = keyModal.querySelector("#first-button");
        const secondButton = keyModal.querySelector("#second-button");
        const textInput = keyModal.querySelector("#text-input");
        const failAlert = keyModal.querySelector("#fail-alert-modal");
        const fieldsetModal = keyModal.querySelector("fieldset");

        if (keyModal && titleModal && userIDModal && fingerprintModal
            && firstSubtitleModal && secondSubtitleModal) {
            keyModal.addEventListener("show.bs.modal", async e => {
                failAlert.style.display = "none";

                const button = e.relatedTarget;
                const action = button.getAttribute("data-bs-action");
                const fingerprint = button.getAttribute("data-bs-fingerprint");

                titleModal.textContent = `${action}`;
                userIDModal.textContent = (await get(fingerprint)).userID;
                fingerprintModal.textContent = fingerprint.replace(/(.{4})(?!$)/g, '$1 ').toUpperCase();

                firstTextarea.value = "";
                secondTextarea.value = "";
                thirdTextarea.value = "";
                fourthTextarea.value = "";
                textInput.value = "";

                fieldsetModal.disabled = (await get(fingerprint)).privateKey ? false : true;

                if (action === "Encrypt/decrypt") {
                    firstSubtitleModal.textContent = "Encrypt";
                    secondSubtitleModal.textContent = "Decrypt";

                    firstTextarea.placeholder = "Text to encrypt...";
                    secondTextarea.placeholder = "Encrypted output...";
                    thirdTextarea.placeholder = "Text to decrypt...";
                    fourthTextarea.placeholder = "Decrypted output...";

                    firstButton.textContent = "Encrypt";
                    secondButton.textContent = "Decrypt";

                    firstButton?.addEventListener("click", async (e) => {
                        const message = await createMessage({ text: firstTextarea.value, format: "utf8"});

                        const publicKey = await readKey({ armoredKey: (await get(fingerprint)).publicKey });

                        const encryptedText = await encrypt({
                            message,
                            encryptionKeys: publicKey
                        });

                        secondTextarea.value = encryptedText;
                    });

                    secondButton?.addEventListener("click", async (e) => {
                        try {
                            const message = await readMessage({ armoredMessage: thirdTextarea.value });

                            let privateKey = await readPrivateKey({ armoredKey: (await get(fingerprint)).privateKey });

                            try {
                                privateKey = await decryptKey({
                                    privateKey,
                                    passphrase: textInput.value
                                });
                            } catch (e) {}

                            const decryptedText = await decrypt({
                                message,
                                decryptionKeys: privateKey
                            });

                            failAlert.style.display = "none";
                            fourthTextarea.value = decryptedText.data;
                        } catch (e) {
                            fourthTextarea.value = "";
                            failAlert.style.display = "block";
                            failAlert.textContent = "Error decrypting text!";
                        }
                    });
                } else if (action === "Verify/sign") {
                    firstSubtitleModal.textContent = "Verify";
                    secondSubtitleModal.textContent = "Sign";

                    firstTextarea.placeholder = "Text to verify...";
                    secondTextarea.placeholder = "Verification result...";
                    thirdTextarea.placeholder = "Text to sign...";
                    fourthTextarea.placeholder = "Signed output...";

                    firstButton.textContent = "Verify";
                    secondButton.textContent = "Sign";

                    firstButton?.addEventListener("click", async (e) => {
                        try {
                            const message = await readCleartextMessage({ cleartextMessage: firstTextarea.value });

                            const publicKey = await readKey({ armoredKey: (await get(fingerprint)).publicKey });

                            const verificationResult = await verify({
                                message,
                                verificationKeys: publicKey
                            });

                            const isValid = await verificationResult.signatures[0].verified;

                            if (isValid) {
                                secondTextarea.value = "The signature is valid!";
                            } else {
                                secondTextarea.value = "The signature is NOT valid!";
                            }
                        } catch (e) {
                            secondTextarea.value = "The signature is NOT valid!";
                        }
                    });

                    secondButton?.addEventListener("click", async (e) => {
                        try {
                            const message = await createCleartextMessage({ text: thirdTextarea.value});

                            let privateKey = await readPrivateKey({ armoredKey: (await get(fingerprint)).privateKey });

                            try {
                                privateKey = await decryptKey({
                                    privateKey,
                                    passphrase: textInput.value
                                });
                            } catch (e) {}

                            const cleartextSignedMessage = await sign({
                                message,
                                signingKeys: privateKey
                            });

                            failAlert.style.display = "none";
                            fourthTextarea.value = cleartextSignedMessage;
                        } catch (e) {
                            fourthTextarea.value = "";
                            failAlert.style.display = "block";
                            failAlert.textContent = "Error signing text!";
                        }
                    });
                }
            });
        }

        const tableElement = document.getElementById("keys-table");
        async function displayKeys() {            
            try {
                // Await the promise to get your array of keys cleanly
                const keys = await getAllKeys();
                
                if (keys.length === 0) {
                    tableElement.innerHTML = "<tr><th scope='row'></th><td>No PGP keys found in local storage.</td><td></td><td></td><td></td><td></td></tr>";
                    return;
                }

                const resolvedKeys = await Promise.all(keys.map(async (key, index) => {
                    return {
                        fingerprint: key[0],
                        index: index + 1,
                        userID: key[1].userID,
                        hasPrivate: key[1].privateKey ? "checked" : "",
                        hex: await armorToHex(key[1].publicKey)
                    };
                }));

                tableElement.innerHTML = resolvedKeys
                    .map(item => `<tr>
                        <th scope='row'>${item.index}</th>
                        <td>${escapeHTML(item.userID)}</td>
                        <td>${"not implemented"}</td>
                        <td class="text-center"><input class="form-check-input" type="checkbox" ${item.hasPrivate} disabled></td>
                        <td>
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#key-modal" data-bs-action="Encrypt/decrypt" data-bs-fingerprint="${item.fingerprint}">Encrypt/Decrypt</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#key-modal" data-bs-action="Verify/sign" data-bs-fingerprint="${item.fingerprint}">Verify/Sign</button>
                        </td>
                        <td><a href="https://webpgp.ivanbeltrame.com/add?k=${item.hex}">Share public key</a></td>
                        </tr>`)
                    .join('');
                
            } catch (error) {
                console.error(error);
                if (tableElement) tableElement.textContent = "Error loading secure keys.";
            }
        }

        function escapeHTML(str: string) {
            return str.replace(/[&<>'"]/g, 
                tag => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;', "'": '&#39;', '"': '&quot;' }[tag] || tag)
            );
        }
    </script>
</DefaultLayout>